#parag {
	height: 100px;
	width: 1000px;
	display: none;
}

#response_success {
    display: none;
    margin-top: 10px;
    height: 18px;
    width: 300px;
    background-color: green;
    color: white;
    border: 1px solid black;
    text-align: center;
}

#response_fail {
    display: none;
    margin-top: 10px;
    height: 18px;
    width: 300px;
    background-color: red;
    color: white;
    border: 1px solid black;
    text-align: center;
}

#login_response_success {
    display: none;
    margin-top: 10px;
    height: 18px;
    width: 300px;
    background-color: green;
    color: white;
    border: 1px solid black;
    text-align: center;
}

#login_response_fail {
    display: none;
    margin-top: 10px;
    height: 18px;
    width: 300px;
    background-color: red;
    color: white;
    border: 1px solid black;
    text-align: center;
}
